*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
/* Cabeçalho  */
.divTopo {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 82px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.logoCti {
    width: 100px;
    height: 45px;
  
}

.logoCti , .divFotos {

    margin-top: 8px;
    margin-left: 40px;
}

.divFotos {
    display: flex; 
    width: 125px;
    height: 50px;
    gap: 15px;
    margin-left: 83%;
    margin-top: 14px;
    padding-left: 15px;
    
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: aqua;

}


@media screen and (max-width: 768px) {
    .divTopo {
        flex-direction: column;
    }
    
    .logoCti {
        margin: auto;
        width: 85px;
        height: 38px;
    }
    
    .divFotos {
        margin-left: 0;
        margin-top: 10px;
        justify-content: center; 
        margin-bottom: 100px;
    }
    
}

/*Fim Cabeçalho  */

/* Busca  */

.divBusca {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left:  50vh;
}

.inputBusca {
    width: 500px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 20px;
    font-size: 16px;

 
}

.inputBusca:focus {
    outline: none;
    border-color: #007bff;
}
/* Fim Busca  */

/* Containers */

.divContainers {

    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;
    border-top: 1px solid #e7e7e7;
    padding: 40px 50px;
    gap: 90px; 
    padding-left: 250px;
}



.Container {
    flex: 1 1 280px; 
    max-width: 280px; 
    height: 330px;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    background-color: white;
    box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.1);
    position: relative; 

}

.Container:hover {
    transform: translateY(-13px);
    transition: all 0.3s ease;
   
}

.Titulo{
    font-size: 24px;
    margin-top: 25px;
    text-align: left;
    padding-left: 20px;
    font-family: Impact, fantasy; 
}

.Resumo{
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif; 
    color: #555; 
}

.divLogo {
    display: flex;
    justify-content: left;
    height: 100px;
    width: 100px; 
    
}

.logoLang {
    height: 130px;
    width: 130px;
    object-fit: contain;
    display: block; 
    position: absolute; 
    top: 190px; 
    left: 140px;
}

@media screen and (max-width: 768px) {
    .divContainers {
        padding: 10px;
        gap: 40px; 
        justify-content: center;    
    }
    .divBusca {
        display: none  ;
    }
}
/* Fim Containers */ 

/* Pagina de Detalhamento */

 .detalheContainer {
    display: flex;
    margin-top: 25px;
    padding: 40px 50px;

 }

 .logoDetalhes {
    width: 400px;
    height: 400px;
    object-fit: contain;
    display: block; 
    position: absolute;
    margin-top: 30px;
    left: 70px;
    box-shadow: -1px -1px 20px 12px rgb(189 166 166 / 10%);
    border-radius: 8px;
 }

.tituloDetalhes {

    position: relative;
    bottom: 15px;
    left: 35px;
    color: #454546;
    font-family: Impact, fantasy; 
    letter-spacing: 3px;
}   

.detalheConteudo {
    display: flex;
    flex-direction: column;
        
}
.detalheExemplo {

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 600px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    font-size: 14px;

    color: #454546; 

}

.codigoExemplo {
    font-family: 'Consolas', 'Courier New', monospace; 
    position: absolute;
    top: 40px;
    left: 50%;
    background-color: #f8f8f8; 
    padding: 10px; ;
    padding-right: 370px;
    border-radius: 5px;
    border: solid 1px #e7e7e7; 
    margin-top: 10px; 
    font-size: 14px;
    color: #333;
}


.detalheExemploTexto {
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    color: #555; 
    margin-left: 600px;
    margin-top: 100px;
    position: relative;
    top: 300px;
    width: 870px;
}

.detalheTexto {
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.5; 
    letter-spacing: 1.2px; 
    text-align: justify;
    padding-bottom: 100px;
}

.divVideo {
    position: absolute;
    top: 650px;
    left: 70px;
}

.video {
    width: 400px;
    height: 250px;
    border-radius: 8px;
    box-shadow: -1px -1px 20px 12px rgb(189 166 166 / 10%);
}